
{% extends 'blog/base.html' %}
{% block content %}
{% if searched %}
<h1> 검색하신 "{{ searched }}"에 대한 정보입니다. </h1>
<br><hr><br>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Gene index</th>
        <th>Gene symbol</th>
        <th>Gene description</th>
        <th>RNA coverage</th>
        <th>Ribo coverage</th>
      </tr>
    </thead>
    <tbody>
        {% for gene in genes %}  
        <tr>
          <td>{{ gene.Gene_index }} </td>
          <td>{{ gene.Gene_symbol }}</td>
          <td>{{ gene.Gene_description }}</td>
          <td>{{ gene.RNAcount }} </td>
          <td>{{ gene.Ribocount }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% else %} 
<h1> 찾고자하는 유전자 정보가 없습니다. </h1>
<br><br><br><br><br>
<a href="/Gene">목록</a>
{% endif %}
{% endblock content %}