
{% extends 'blog/base.html' %}
{% block content %}
{% if searched %}
<h1> Search Results</h1>
<h4> Keyword : "{{ searched }}"</h4>
<br><hr><br>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Gene index</th>
        <th>Gene symbol</th>
        <th>Gene description</th>
        <th>RNA coverage</th>
        <th>Ribo coverage</th>
      </tr>
    </thead>
    <tbody>
        {% for gene in genes %}  
        <tr>
          <td>{{ gene.Gene_index }} </td>
          <td>{{ gene.Gene_symbol }}</td>
          <td>{{ gene.Gene_description }}</td>
          <td>{{ gene.RNAcount }} </td>
          <td>{{ gene.Ribocount }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" style="text-align:center">No match genes</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
<br><br><br>

<a href="/Gene">back</a>

{% else %} 
<h1> please enter keyword.. </h1>
<br><br><br><br><br>
<a href="/Gene">back</a>
{% endif %}
{% endblock content %}