
{% extends 'blog/base.html' %}

{% block content %}
<h1>
  GENE CATALOG
</h1>
<p>
  Please enter the content you want to search for.<br>
  In the current version (Meta-Insight v1.0), searching is possible using only annotation information such as gene description </p>
<br><hr> <br>

<div class="search_form">
    <form method="POST" action="{% url 'search' %}" class="gene_search">
        {% csrf_token %} 
      <label > Keyword </label>
      <input type="text" id="keyword"  name="searched" placeholder="Keyword..">

      <input type="submit" value="Search">
    </form>
  </div>



<br><br>
<p>Example of keywords:</p>


{% endblock content %}