
{% extends 'blog/base.html' %}
{% block content %}
{% if searched %}
<h1> Search Results</h1>
<h4> Keyword : "{{ searched }}"</h4>
<p id="gene">Search results show <b>{{gene_count}}</b> genes</p>
<br><hr><br>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Gene index</th>
        <th>Gene symbol</th>
        <th>Gene description</th>
        <th>RNA coverage</th>
        <th>Ribo coverage</th>
      </tr>
    </thead>
    <tbody>
        {% for gene in genes %}  
        <tr>
          <td>{{ gene.Gene_index }} </td>
          <td>{{ gene.Gene_symbol }}</td>
          <td>{{ gene.Gene_description }}</td>
          <td>{{ gene.RNAcount }} </td>
          <td>{{ gene.Ribocount }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" style="text-align:center">No match genes</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
<br><br><br>
{% if genes.has_other_pages %}  
<div align="center">
    <ul class = "pagination">
    {% if genes.has_previous %}  
    <a href="?page=1&search_type={{ type }}&searched={{ searched }}">&laquo;</a>
    {% else %}
    <a>&laquo;</a>
    {% endif %}
    
    {% for i in genes.paginator.page_range %}
    {% if i >= genes.number|add:-5 and i <= genes.number|add:5 %}
    {% if genes.number == i %}   
        <a class="active">{{ i }}</a>
    {% else %}
        <a href="?page={{ i }}&search_type={{ type }}&searched={{ searched }}">{{ i }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if genes.has_next %}  
        <a href="?page={{ genes.paginator.num_pages }}&search_type={{ type }}&searched={{ searched }}">&raquo;</a>
    {% else %}
        <a>&raquo;</a>
    {%endif %}
    </ul>
    {%endif%}
</div>
<a href="/Gene">back</a>

{% else %} 
<h1> please enter keyword.. </h1>
<br><br><br><br><br>
<a href="/Gene">back</a>
{% endif %}
{% endblock content %}