
{% extends 'blog/base.html' %}

{% block content %}
<h1>
  GENE CATALOG
</h1>
<p>
  Please enter the content you want to search for.<br>
  In the current version (Meta-Insight v1.0), searching is possible using only annotation information such as gene description and gene symbol. </p>
<br><hr> <br>

<div class="search_form">
    <form method="get" action="{% url 'search' %}" class="gene_search">
      <label for="search_type"></label>
        <select id="search_type" name="search_type">
            <option value="1" {% if type == '1' %} selected {% endif %} >Gene description</option>
            <option value="2" {% if type == '2' %} selected {% endif %} >Gene symbol</option>
        </select>
      <label > Keyword </label>
      <input type="text" id="keyword"  name="searched" placeholder="Keyword..">

      <input type="submit" value="Search">
    </form>
  </div>



<br><br>

<h4> Example of keywords : </h4>
  <ul>
    <li>
      Gene description : 2-amino-3-ketobutyrate CoA ligase, beta-galactosidase
    </li>
    <li>
      Gene symbol : <i>ilvC</i>, <i>ilvB</i>, <i>lacZ</i>
    </li>
  </ul>


{% endblock content %}