{% extends 'blog/base.html' %}

{% block content %}
{% load static %}
<br>
<h1> GENOME CATALOG </h1>
<br>
<embed src="{% static 'img/MAG_tree.svg' %}" type="image/svg+xml" width=100%>
<br>

<div>
    <br>
<form action="/list_logs/?search_type={{ type }}&search_keyword={{ keyword }}#MAG" method="get" class="table-with-form" align="right">

        <label for="search_type"></label>
        <select id="search_type" name="search_type">
            <option value="1" {% if type == '1' %} selected {% endif %} >Taxonomy</option>
            <option value="2" {% if type == '2' %} selected {% endif %} >MAGindex</option>
        </select>
        <label> <input type="text" name="search_keyword" value="{{ keyword }}" /></label>
        <input type="image" id="filterImage" name="submit" src="{% static 'img/search.svg' %}" alt="Search" title="Search">

</form>
<h3 id="MAG">MAG table</h3>

<table class="table table-bordered" style="width:100%;">
    <thead>
        <tr>
        <th>MAG_index</th>
        <th>TAXONOMY</th>
        <th>Genome size</th>
        <th>comp.</th>
        <th>cont.</th>
        </tr>
    </thead>
    <tbody>
        {% for MAG in magdatas %}
        <tr>
            <td> <a href="/Genome/{{MAG.pk}}"> {{ MAG.pk }}</a></td>
            <td class="taxon">{{ MAG.Taxon }}</td>
            <td>{{ MAG.Genome_size }}</td>
            <td>{{ MAG.Completeness_score }}</td>
            <td>{{ MAG.Contamination_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if magdatas.has_other_pages %}  
<div align="center">
    <ul class = "pagination">
    {% if magdatas.has_previous %}  
    <a href="?page=1&search_type={{ type }}&search_keyword={{ keyword }}#MAG">&laquo;</a>
    {% else %}
    <a>&laquo;</a>
    {% endif %}
    
    {% for i in magdatas.paginator.page_range %}
    {% if i >= magdatas.number|add:-5 and i <= magdatas.number|add:5 %}
    {% if magdatas.number == i %}   
        <a class="active">{{ i }}</a>
    {% else %}
        <a href="?page={{ i }}&search_type={{ type }}&search_keyword={{ keyword }}#MAG">{{ i }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if magdatas.has_next %}  
        <a href="?page={{ magdatas.paginator.num_pages }}&search_type={{ type }}&search_keyword={{ keyword }}#MAG">&raquo;</a>
    {% else %}
        <a>&raquo;</a>
    {%endif %}
    </ul>
    {%endif%}
</div>

<p> * <br>
    comp. : Completeness score <br>
    cont. : Contamination score
</p>
</div>
{% endblock content %}


