<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>META INSIGHT </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <meta property="og:image" content="{% static 'img/META-Insight_logo.svg' %}">
    </head>
    <body>
        <!--header-->
        <header class="main">
            <!--logo-->
                <a href="Home" id="logo"><img alt="LOGO" src="{% static 'img/META-Insight_logo.svg' %}" height="60px"></a>
                
        </header>
        <header class="sub">
            <div class="sub">
                <!--Nav-->
                <nav id="nav">
                    <a href="About">ABOUT US</a>
                    <a href="PROTOCOL">PROTOCOLS</a>
                    <a href="Genome">GENOME CATALOG</a>
                    <a href="Gene">GENE CATALOG</a>
                    <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank" rel="noopener">BLAST</a>
                    <a href="Samples">SAMPLES</a>
                </nav>
            </div>
        </header>      
        <!--content-->    
        <div class="page_wrap">
            <div class="page_content" >
                <div class="row">
                    <div class="col-12">
                        <div class="main_ct_block" style="min-height: 250px;">
                            <h1> META-Insight   </h1>
                            <br>
                            <p>
                                Metagenomic analysis is an innovative approach to interpreting complex biological information to understand the ecology, function, diversity, and interactions of microbial communities.
                                 Our goal is to introduce state-of-the-art analytical methods that enable accurate meta-omics analysis and provide meta-omics data derived from the accurate gut microbiome of healthy individuals.
                                 The key feature of our data analysis method is that it organizes microbial community information at the level of microbial genomes, mainly focusing on metagenome-assembled genomes (MAGs).
                                 Additionally, while metagenomes can offer potential functional information, the presence of specific genes does not necessarily imply their expression.
                                 By combining metatranscriptome and metaproteome data, we can confirm gene expression or suppression under specific conditions, allowing us to distinguish active microbes from inactive ones from a metabolic perspective.
                                  In particular, at each step of NGS meta-omics analysis, we introduce an analysis based on shotgun sequencing for metagenome, RNA-seq for metatranscriptome, and Ribo-seq data for metaproteome. In addition to meta-omics data analysis protocols, Meta-Insight provides precise meta-omics data of the gut microbiome in healthy individuals.
                                 Such data can be helpful not only in understanding the functions of the gut microbiome but also in serving as a control group for research on gut microbiomes related to diseases.
                            </p>                              
                            <br>
                        </div>
                        <div class="main_ct_block" style="min-height: 280px;">
                            <h1> PROTOCOLS   </h1>
                            <br>
                            <P>
                                Meta-Insight provides a metagenome analysis protocol that focuses on MAG composition. When performing de novo genome analysis through shotgun sequencing, a process of assembling short reads is required.
                                 Similar to assembling a single genome from these short fragments, information assembled for each microbial unit in a complex microbial community can offer much more insight into the microbiome ecology.
                                 Here, we introduce both Illumina's short read and PacBio’s long read-based analysis methods.
                            </P>
                            <p>
                                In terms of metatranscriptomics, our analysis protocol includes both MAG-based reference-guided analysis and reference-independent analysis. We describe a method to profile specific expression levels of genes, MAGs, and also detail DE analysis to find differentially expressed genes for experimental design to explore expression level differences.
                            </p>
                            <p>
                                One alternative method designed for mass-based analysis of metaproteomic data is Ribo-seq.
                                 This method involves fixing the cell state by treating it with chloramphenicol, removing unprotected nucleic acids through MNase treatment, and then analyzing the mRNA sequences involved in protein synthesis. We expect that this approach can address issues associated with low throughput and limited accuracy in databases in bulk analysis-based methods.
                                 Additionally, protein synthesis can be quantified by identifying the genetic information coding for the protein.
                            </p>
                            <p>
                                The tool selected in the metaomics analysis protocol produces reproducible output, and in cases with similar specifications, software was selected for general use and good computing efficiency.
                                 In the case of the database used, we selected one that was well curated and capable of regular updates.
                            </p>
                        </div>
                        <div class="main_ct_block" style="min-height: 250px;">
                            <h1> GENOME/GENE/SAMPLE CATALOG   </h1>
                            <img alt="MAG" id ="MAG" src="{% static 'img/MAG_tree.svg' %}" height="200px" align="right">
                            <br>
                            <P>
                                <b>GENOME CATALOG:</b> Provides information on the healthy individual's gut microbiome at the core metagenome-assembled genome (MAG) level. <br>
                                <b>GENE CATALOG:</b> Provides information on the healthy individual's gut microbiome at the gene level, including the normalized abundance of each gene and the expression levels of transcripts and proteins.<br>
                                <b>BLAST:</b> Allows user access based on sequence (nucleotide/amino acid).<br>
                                <b>SAMPLES:</b> Provides information about the cohort used for database construction, including metadata and network of key microbial groups.

                            </P>
                        </div>

                    </div>
                </div>
            </div>
            <div id="footer-wrap">
                <div class="page_footer">
                    <div class="footer_logos">
                        <a href="https://www.gnu.ac.kr/main/main.do" target="_blank" rel="noopener">
                            <img alt="GNU" id ="GNUlogo" src="{% static 'img/GNU.png' %}" height="60px">
                        </a>
                        <a href="https://www.yonsei.ac.kr/sc/" target="_blank" rel="noopener">
                            <img alt="Yonsei Univ" id="Yonseilogo" src="{% static 'img/Yonsei.jpg' %}" height="60px">
                        </a>
                        <a href="https://www.msit.go.kr/index.do" target="_blank" rel="noopener">
                            <img alt="Ministry of Science and ICT" id="MSITlogo" src="{% static 'img/msit.png' %}" height="60px">
                        </a>
                    </div>
                    <div class="footer_links">
                        <a href="About">License &amp; Citation</a>
                    </div>
                    <div class="footer_links">
                        <a href="mailto:metainsight@gnu.ac.kr">Contact</a>
                    </div>
                    <div class="version_info">
                        Version 1 Released 2023-09
                    </div>
                </div>
            </div>
        </div> 
    </body>
    
</html>
