{% extends 'blog/base.html' %}

{% block content %}
{% load static %}
    <h1> {{MAGdetail.MAG_index}}</h1>
    <br><hr><br>
    <p>Taxonomy: {{MAGdetail.Taxon}}</p>
    <p>Genome size : {{MAGdetail.Genome_size}}</p>
    <p>N50 : {{MAGdetail.N50}}</p>
    <p>GC : {{MAGdetail.GC}} </p>
    <p>Contamination score : {{MAGdetail.Contamination_score}}</p>
    <p>Completeness score : {{MAGdetail.Completeness_score}}</p>
    <p>Whole geneome read counts : {{MAGdetail.DNAcount}}</p>
    <p>Metatranscript read counts : {{MAGdetail.RNAcount}}</p>
    <p>Ribo-seq read counts : {{MAGdetail.Ribocount}}</p>
    <p id="gene">Total number of annotated genes : {{gene_count}} </p>
    <form action="?search_type={{ type }}&search_keyword={{ keyword }}" method="get" class="table-with-form" align="right">
      <label for="search_type"></label>
      <select id="search_type" name="search_type">
          <option value="1" {% if type == '1' %} selected {% endif %} >Gene description</option>
          <option value="2" {% if type == '2' %} selected {% endif %} >Gene symbol</option>
      </select>
      <label> <input type="text" name="search_keyword" value="{{ keyword }}" /></label>
      <input type="image" id="filterImage" name="submit" src="{% static 'img/search.svg' %}" alt="Search" title="Search">
    
    </form>
    <br>
    <h3 id="MAG">Gene table</h3>
    <table class="table table-bordered" style="width=100%">
      <thead>
        <tr>
          <th>Gene index</th>
          <th>Gene symbol</th>
          <th>Gene description</th>
          <th>KEGG KO</th>
          <th>KEGG module</th>
        </tr>
      </thead>
      <tbody>
          {% for gene in genes %}  
          <tr>
            <td>{{ gene.Gene_index }} </td>
            <td>{{ gene.Gene_symbol }}</td>
            <td>{{ gene.Gene_description }}</td>
            <td>{{ gene.KEGG_KO }} </td>
            <td>{{ gene.KEGG_module }}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  {% if genes.has_other_pages %}  
<div align="center">
    <ul class = "pagination">
    {% if genes.has_previous %}  
    <a href="?page={{ genes.previous_page_number }}&search_type={{ type }}&search_keyword={{ keyword }}#gene">&laquo;</a>
    {% else %}
    <a>&laquo;</a>
    {% endif %}
    
    {% for i in genes.paginator.page_range %}
    {% if i >= genes.number|add:-5 and i <= genes.number|add:5 %}
    {% if genes.number == i %}   
        <a class="active">{{ i }}</a>
    {% else %}
        <a href="?page={{ i }}&search_type={{ type }}&search_keyword={{ keyword }}#gene">{{ i }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if genes.has_next %}  
        <a href="?page={{ genes.next_page_number }}&search_type={{ type }}&search_keyword={{ keyword }}#gene">&raquo;</a>
    {% else %}
        <a>&raquo;</a>
    {%endif %}
    </ul>
    {%endif%}
</div>
<br><hr><br>
  <a href="/Genome">Back</a>
    
{% endblock %}