<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
{% load static %}

<br>
<h1>Sample Metadata</h1>
<p>
    Metainsight provides information on the gut microbiome of individuals who have been medically diagnosed as healthy.
</p>
<table class="table table-striped" style="width:100%;">
    <thead>
    <tr>
        <th>sample ID</th>
        <th>sex</th>
        <th>age</th>
        <th>BMI</th>
        <th>WBC count</th>
        <th>Hemoglobin</th>
        <th>HCT</th>
        <th>PLT count</th>
        <th>ESR</th>
        <th>CRP</th>
        <th>Albumin</th>
    </tr>
    </thead>
    <tbody>
    {% for sampledata in sampledatas %}
    <tr>
        <td>{{sampledata.sample_ID}}</td>
        <td>{{sampledata.Sex}}</td>
        <td>{{sampledata.Age}}</td>
        <td>{{sampledata.BMI}}</td>
        <td>{{sampledata.WBCcount}}</td>
        <td>{{sampledata.Hemoglobin}}</td>
        <td>{{sampledata.HCT}}</td>
        <td>{{sampledata.PLTcount}}</td>
        <td>{{sampledata.ESR}}</td>
        <td>{{sampledata.CRP}}</td>
        <td>{{sampledata.Albumin}}</td>
    </tr>
    {% endfor %}
    <tbody>
</table>
<br>
<p> **
    <br> WBC (<b>w</b>hite <b>b</b>lood <b>c</b>ell) count: Percentage of white blood cells in the blood.
    <br> HCT (<b>h</b>emato<b>c</b>i<b>t</b>): The ratio of the volume of red blood cells in the blood to the total blood volume.
    <br> PLT (Platelet) count: Platelet count test; a test measures the quantity of platelets in 1 μL of blood.
    <br> ESR (<b>E</b>rythrocyte <b>s</b>edimentation <b>r</b>ate): sed rate. The rate at which red blood cells settle to the bottom of test tube over time.
    <br> CRP (<b>C</b>-<b>r</b>eactive <b>p</b>rotein): a protein made by the liver. The level of CRP increases when there&#39;s inflammation in the body.
</p>
<br><hr><br>

<h2>MAG network</h2>
<iframe src="{% static 'img/d3_genus_results.html' %}" width="90%" height="850px"></iframe> 
<p>Significant interactions of p&lt;0.05 level in a network between MAGs classified in Genome</p>
<br><hr><br>
<h2>MAG abundance</h2>
<img id="table" src = "{% static 'img/MAGheatmap.png' %}" width="50%" style="margin: auto;display: block;">


{% endblock content %}