<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
{% load static %}

<br>
<h1>Sample table</h1>
<table class="table table-striped" style="width:100%;">
    <thead>
    <tr>
        <th>sample ID</th>
        <th>sex</th>
        <th>age</th>
        <th>BMI</th>
        <th>WBC count</th>
        <th>Hemoglobin</th>
        <th>HCT</th>
        <th>PLT count</th>
        <th>ESR</th>
        <th>CRP</th>
        <th>Albumin</th>
    </tr>
    </thead>
    <tbody>
    {% for sampledata in sampledatas %}
    <tr>
        <td>{{sampledata.sample_ID}}</td>
        <td>{{sampledata.Sex}}</td>
        <td>{{sampledata.Age}}</td>
        <td>{{sampledata.BMI}}</td>
        <td>{{sampledata.WBCcount}}</td>
        <td>{{sampledata.Hemoglobin}}</td>
        <td>{{sampledata.HCT}}</td>
        <td>{{sampledata.PLTcount}}</td>
        <td>{{sampledata.ESR}}</td>
        <td>{{sampledata.CRP}}</td>
        <td>{{sampledata.Albumin}}</td>
    </tr>
    {% endfor %}
    <tbody>
</table>
<br>
<p> **WBC(white blood cell) count: 백혈구 백분율
    <br> HCT: hematocit; 혈액에서 적혈구가 차지하고 있는 용적의 비율
    <br> PLT (Platelet) count: 혈소판 검사; 혈액 1μL 중에 어느 정도의 혈소판이 있는가를 세는 검사
    <br> ESR (Erythrocyte sedimentation rate) : 적혈구 침강 속도
    <br> CRP (C-Reactove Protein) : C-반응성 단백질로 대표적인 급성기 반응물질
</p>
<br><hr><br>
<h2>MAG abundance</h2>
<img id="table" src = "{% static 'img/MAGheatmap.png' %}" width="50%" style="margin: auto;display: block;">
<br><hr><br>
<h2>MAG network</h2>
<iframe src="{% static 'img/d3_genus_results.html' %}" width="90%" height="850px"></iframe> 
<p>Genome에서 분류되었던 MAG들간의 network로, p&lt;0.05에 해당하는 interaction만 적용</p>

{% endblock content %}