pre {
    background-color: #F7F6F3;
    padding: 15px 30px 15px 30px;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
    line-height:120%;
}
code {
    background-color: #F7F6F3;
    color: #656565;
    font-family: 'Consolas';
}

pre code {
    background: transparent;

}

div.ct_block img{
    max-width: 100%;
}

div.col-9 div.ct_block {
    line-height:1.6;
}

figure{
    margin-top: 30px;
    margin-bottom: 30px;
}