<!-- navigation.html -->
<h2><a href="/PROTOCOL/ko/DNA/Introduction">MetaGenomics SOP</a></h2>
<ol type="I">
    <li><a href="/PROTOCOL/ko/DNA/Preparation for sequencing">Sample preparation-Sequencing</a>
    </li>
    <li>Analysis
        <ul>
        <li>
        <a href="/PROTOCOL/ko/DNA/Installation">Installation</a>
        </li>
        <li>
        <a href="/PROTOCOL/ko/DNA/Preprocessing of the sequencing">Preprocessing of the sequencing reads</a>
        </li>
        <li>
        <a href="/PROTOCOL/ko/DNA/Read-based profiling">Read-based profiling</a>
        </li>
        <li>
        <a href="/PROTOCOL/ko/DNA/De novo assembly"><em>De novo</em> assembly</a>
        </li>
        <li>
        <a href="/PROTOCOL/ko/DNA/Taxonomic annotation of contigs">Taxonomic annotation of contigs</a>
        </li>
        <li>
        <a href="/PROTOCOL/ko/DNA/Functional annotation of contigs">Functional annotation of contigs</a>
        </li>
        <li>
        <a href="/PROTOCOL/ko/DNA/Binning">Binning </a>
        </li>
        <li>
        <a href="/PROTOCOL/ko/DNA/Phylogenomic tree construction of the MAG">Phylogenomic tree construction of the MAG</a>
        </li>
        </ul>
    </li>
</ol>
<h2><a href="/PROTOCOL/ko/RNA/Introduction">MetaTrasncriptomic SOP</a></h2>
<ol type="I">
    <li><a href="/PROTOCOL/ko/RNA/Sequencing">Sample preparation-Sequencing</a>
    </li>
    <li>Analysis
    <ul>
    <li>
    <a href="/PROTOCOL/ko/RNA/Installation">Installation</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/RNA/Preprocessing of the sequencing">Preprocessing of the sequencing reads</a>
    </li>
    <li>
    =Reference-guided analysis=
    <ul>
    <li>
    <a href="/PROTOCOL/ko/RNA/Read alignment">Read alignment</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/RNA/Transcriptional expression profiling">Transcriptional expression analysis</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/RNA/Differential expression analysis">Differential expression analysis</a>
    </li>
    </ul>
    </li>
    <li>
    =Reference-independent analysis=
    <ul>
    <li>
    <a href="/PROTOCOL/ko/RNA/Transcript de novo assembly">Transcript <em>de novo</em> assembly</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/RNA/Transcript taxonomy classification">Transcript taxonomy classification</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/RNA/Read-based profiling">Read-based profiling</a>
    </li>
    </ul>
    </li>
    </ul>
    </li>
</ol>
<h2><a href="/PROTOCOL/ko/Ribo/Introduction">MetaProteomic SOP</a></h2>
<ol type="I">
    <li><a href="/PROTOCOL/ko/Ribo/Sequencing">Sample preparation-Sequencing</a>
    </li>
    <li>Analysis
    <ul>
    <li>
    <a href="/PROTOCOL/ko/Ribo/Installation">Installation</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/Ribo/Preprocessing of the sequencing">Preprocessing of the sequencing reads</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/Ribo/Read alignment">Reads alignment</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/Ribo/Ribosome profiling">Ribosome profiling</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/Ribo/Small protein prediction">Small protein prediction</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/Ribo/Translational quantification">Translational quantification</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/Ribo/Differential expression analysis">Differential expression analysis</a>
    </li>
    <li>
    <a href="/PROTOCOL/ko/Ribo/Read-based profiling">Read-based profiling</a>
    </li>
    </ul>
    </li>
</ol>