<!-- navigation.html -->
<h2><a href="./SOP/MetaGenomic/Introduction.html">MetaGenomics SOP</a></h2>
<ol type="I">
    <li>Sequencing
        <ul>
        <li>
        <a href="./SOP/MetaGenomic/Sequencing.html#sample">Biological samples</a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Sequencing.html#prep">DNA preparation</a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Sequencing.html#sequencing">Sequencing</a>
        </li>
        </ul>
    </li>
    <li>Analysis
        <ul>
        <li>
        <a href="./SOP/MetaGenomic/Installation.html">Installation</a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Preprocessing.html">Preprocessing of the sequencing reads</a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Read-based.html">Read-based profiling</a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Denovo_assembly.html"><em>De novo</em> assembly</a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Taxonomic_contig.html">Taxonomic annotation of contigs</a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Function_contig.html">Functional annotation of contigs</a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Binning.html">Binning </a>
        </li>
        <li>
        <a href="./SOP/MetaGenomic/Phylogenetic.html">Phylogenomic tree construction of the MAG</a>
        </li>
        </ul>
    </li>
</ol>
<h2><a href="./SOP/MetaTranscriptomic/Introduction.html">MetaTrasncriptomic SOP</a></h2>
<ol type="I">
    <li>Sequencing
    <ul>
    <li>
    <a href="./SOP/MetaTranscriptomic/Sequencing.html#sample">Biological samples</a>
    </li>
    <li>
    <a href="./SOP/MetaTranscriptomic/Sequencing.html#prep">RNA preparation</a>
    </li>
    <li>
    <a href="./SOP/MetaTranscriptomic/Sequencing.html#sequencing">Sequencing</a>
    </li>
    </ul>
    </li>
    <li>Analysis
    <ul>
    <li>
    <a href="./SOP/MetaTranscriptomic/Installation.html">Installation</a>
    </li>
    <li>
    <a href="./SOP/MetaTranscriptomic/Preprocessing.html">Preprocessing of the sequencing reads</a>
    </li>
    <li>
    =Reference-guided analysis=
    <ul>
    <li>
    <a href="./SOP/MetaTranscriptomic/Alignment.html">Read alignment</a>
    </li>
    <li>
    <a href="./SOP/MetaTranscriptomic/Expression_profiling.html">Transcriptional expression analysis</a>
    </li>
    <li>
    <a href="./SOP/MetaTranscriptomic/DE_analysis.html">Differential expression analysis</a>
    </li>
    </ul>
    </li>
    <li>
    =Reference-independent analysis=
    <ul>
    <li>
    <a href="./SOP/MetaTranscriptomic/Denovo_assembly.html">Transcript <em>de novo</em> assembly</a>
    </li>
    <li>
    <a href="./SOP/MetaTranscriptomic/Taxonomoy_classification.html">Transcript taxonomy classification</a>
    </li>
    <li>
    <a href="./SOP/MetaTranscriptomic/Reads_based.html">Read-based profiling</a>
    </li>
    </ul>
    </li>
    </ul>
    </li>
</ol>
<h2><a href="./SOP/MetaProteomic/Introduction.html">MetaProteomic SOP</a></h2>
<ol type="I">
    <li>Sequencing
    <ul>
    <li>
    <a href="./SOP/MetaProteomic/Sequencing.html#sample">Biological samples</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/Sequencing.html#prep">Ribosome-bound mRNA preparation</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/Sequencing.html#sequencing">Sequencing</a>
    </li>
    </ul>
    </li>
    <li>Analysis
    <ul>
    <li>
    <a href="./SOP/MetaProteomic/Installation.html">Installation</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/Preprocessing.html">Preprocessing of the sequencing reads</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/Alignment.html">Reads alignment</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/Ribosome_profiling.html">Ribosome profiling</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/small_protein.html">Small protein prediction</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/Quantification.html">Translational quantification</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/DE_analysis.html">Differential expression analysis</a>
    </li>
    <li>
    <a href="./SOP/MetaProteomic/Read_based.html">Read-based profiling</a>
    </li>
    </ul>
    </li>
</ol>