<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>META INSIGHT </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <meta property="og:image" content="{% static 'img/META-Insight_logo.svg' %}">
        <script type="module" src="https://md-block.verou.me/md-block.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hi098123/prism-for-tistory/prism.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.css" integrity="sha512-n5zPz6LZB0QV1eraRj4OOxRbsV7a12eAGfFcrJ4bBFxxAwwYDp542z5M0w24tKPEhKk2QzjjIpR5hpOjJtGGoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <!--header-->
        <header class="main">
            <!--logo-->
                <a href="/Home" id="logo"><img alt="LOGO" src="{% static 'img/META-Insight_logo.svg' %}" height="60px"></a>
        </header>
        <header class="sub">
            <div class="sub">
                <!--Nav-->
                <nav id="nav">
                    <a href="/About">ABOUT US</a>
                    <a href="/PROTOCOL">PROTOCOLS</a>
                    <a href="/Genome">GENOME CATALOG</a>
                    <a href="/Gene">GENE CATALOG</a>
                    <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank" rel="noopener">BLAST</a>
                    <a href="/Samples">SAMPLES</a>
                </nav>
            </div>
        </header>      
        <!--content-->    
        <div class="page_wrap">
            <div class="page_content" >
                <div class="row">
                    <div class="col-3" >
                        <div class="ct_block">
                            {% include 'SOP/Protocol_nav_ko.html' %}
                        </div>
                    </div>
                    <div class="col-9" >
                        <div class="ct_block">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-wrap">
                <div class="page_footer">
                    <div class="footer_links">
                        <a href="About">License &amp; Citation</a>
                        <a href="mailto:metainsight@gnu.ac.kr">Contact</a>
                    </div>
                    <div class="footer_logos">
                        <a href="https://www.gnu.ac.kr/main/main.do" target="_blank" rel="noopener">
                            <img alt="GNU" id ="GNUlogo" src="{% static 'img/GNU.png' %}" height="60px">
                        </a>
                        <a href="https://www.yonsei.ac.kr/sc/" target="_blank" rel="noopener">
                            <img alt="Yonsei Univ" id="Yonseilogo" src="{% static 'img/Yonsei.jpg' %}" height="60px">
                        </a>
                        <a href="https://www.msit.go.kr/index.do" target="_blank" rel="noopener">
                            <img alt="Ministry of Science and ICT" id="MSITlogo" src="{% static 'img/msit.png' %}" height="60px">
                        </a>
                    </div>
                    <div class="version_info">
                        Version 1<br>
                        Released 2023-09-15
                    </div>
                </div>
                
            </div>
        </div> 
    </body>
    
</html>
