<!-- navigation.html -->
<h2><a href="/PROTOCOL/en/DNA/Introduction">MetaGenomics SOP</a></h2>
<ol type="I">
    <li>Sequencing
        <ul>
        <li>
        <a href="/PROTOCOL/en/DNA/Preparation for sequencing">Biological samples</a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/Preparation for sequencing">DNA preparation</a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/Preparation for sequencing">Sequencing</a>
        </li>
        </ul>
    </li>
    <li>Analysis
        <ul>
        <li>
        <a href="/PROTOCOL/en/DNA/Installation">Installation</a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/Preprocessing of the sequencing">Preprocessing of the sequencing reads</a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/Read-based profiling">Read-based profiling</a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/De novo assembly"><em>De novo</em> assembly</a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/Taxonomic annotation of contigs">Taxonomic annotation of contigs</a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/Functional annotation of contigs">Functional annotation of contigs</a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/Binning">Binning </a>
        </li>
        <li>
        <a href="/PROTOCOL/en/DNA/Phylogenomic tree construction of the MAG">Phylogenomic tree construction of the MAG</a>
        </li>
        </ul>
    </li>
</ol>
<h2><a href="/PROTOCOL/en/RNA/Introduction">MetaTrasncriptomic SOP</a></h2>
<ol type="I">
    <li>Sequencing
    <ul>
    <li>
    <a href="/PROTOCOL/en/RNA/Sequencing">Biological samples</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/RNA/Sequencing">RNA preparation</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/RNA/Sequencing">Sequencing</a>
    </li>
    </ul>
    </li>
    <li>Analysis
    <ul>
    <li>
    <a href="/PROTOCOL/en/RNA/Installation">Installation</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/RNA/Preprocessing of the sequencing">Preprocessing of the sequencing reads</a>
    </li>
    <li>
    =Reference-guided analysis=
    <ul>
    <li>
    <a href="/PROTOCOL/en/RNA/Read alignment">Read alignment</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/RNA/Transcriptional expression profiling">Transcriptional expression analysis</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/RNA/Differential expression analysis ">Differential expression analysis</a>
    </li>
    </ul>
    </li>
    <li>
    =Reference-independent analysis=
    <ul>
    <li>
    <a href="/PROTOCOL/en/RNA/Transcript de novo assembly">Transcript <em>de novo</em> assembly</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/RNA/Transcript taxonomy classification">Transcript taxonomy classification</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/RNA/Read-based profiling">Read-based profiling</a>
    </li>
    </ul>
    </li>
    </ul>
    </li>
</ol>
<h2><a href="/PROTOCOL/en/Ribo/Introduction">MetaProteomic SOP</a></h2>
<ol type="I">
    <li>Sequencing
    <ul>
    <li>
    <a href="/PROTOCOL/en/Ribo/Sequencing">Biological samples</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Sequencing">Ribosome-bound mRNA preparation</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Sequencing">Sequencing</a>
    </li>
    </ul>
    </li>
    <li>Analysis
    <ul>
    <li>
    <a href="/PROTOCOL/en/Ribo/Installation">Installation</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Preprocessing of the sequencing">Preprocessing of the sequencing reads</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Read alignment">Reads alignment</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Ribosome profiling">Ribosome profiling</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Small protein prediction">Small protein prediction</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Translational quantification">Translational quantification</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Differential expression analysis">Differential expression analysis</a>
    </li>
    <li>
    <a href="/PROTOCOL/en/Ribo/Read-based profiling">Read-based profiling</a>
    </li>
    </ul>
    </li>
</ol>